*              @tutwidi
/firmware/     @tutwidi @RadioLogger/firmware-dev-team
/backend/      @tutwidi @RadioLogger/backend-dev-team
/web/          @tutwidi @RadioLogger/web-dev-team
/ipfs/         @tutwidi @RadioLogger/ipfs-engineers
/data/         @tutwidi @RadioLogger/data-engineers
/validator/    @tutwidi @RadioLogger/validator-team
/ai/           @tutwidi @RadioLogger/ai-team
/docs/         @tutwidi @RadioLogger/doc-writers
/governance/   @tutwidi @RadioLogger/dao-architects
/community/    @tutwidi @RadioLogger/community-managers
